In [7]:
import pandas as pd
data = pd.read_csv("operations_new.csv",parse_dates=[1,2])
data.head()

,identifiant_transaction,date_operation,date_valeur,libelle,debit,credit,solde
0,242,2023-10-06,2023-10-06,FORFAIT COMPTE SUPERBANK XX XX XX XX,-1.92,NaN,2513.79
1,25,2023-10-06,2023-10-06,CARTE XX XX CHEZ LUC XX,-10.00,NaN,2529.29
2,69,2023-10-06,2023-10-06,PRELEVEMENT XX TELEPHONE XX XX,-13.58,NaN,2515.71
3,299,2023-10-05,2023-10-05,CARTE XX XX XX XX XX XX,-10.64,NaN,2539.29
4,45,2023-10-05,2023-10-05,CARTE XX XX XX XX,-4.80,NaN,2549.93

In [13]:
from collections import Counter

def most_common_words(labels):
    words = []
    for lab in labels:
        for word in lab.split(" "):
            if word!="":
                words.append(word)
    counter = Counter(words)
    
    for word in counter.most_common(10):
        print(word)
def clean_data(labels):
    word=labels.replace("XX","")
    word=word.strip()
    return word
data['libelle']=data['libelle'].apply(clean_data)
most_common_words(data['libelle'].values)

('CARTE', 247)
('VIREMENT', 29)
('ANCIENS', 20)
('ROBINSON', 20)
('LES', 20)
('CHEZ', 16)
('LUC', 16)
('LA', 16)
("L'EPICERIE", 16)
('DEMBAS', 16)

In [18]:
data.columns = ['identifiant_transaction','date_operation','date_valeur',
                'libelle','debit','credit','solde']

In [22]:
data.head(100)

,identifiant_transaction,date_operation,date_valeur,libelle,debit,credit,solde
0,242,2023-10-06,2023-10-06,FORFAIT COMPTE SUPERBANK,-1.92,NaN,2513.79
1,25,2023-10-06,2023-10-06,CARTE CHEZ LUC,-10.00,NaN,2529.29
2,69,2023-10-06,2023-10-06,PRELEVEMENT TELEPHONE,-13.58,NaN,2515.71
3,299,2023-10-05,2023-10-05,CARTE,-10.64,NaN,2539.29
4,45,2023-10-05,2023-10-05,CARTE,-4.80,NaN,2549.93
5,95,2023-10-03,2023-10-03,CARTE LA CCNCF,-67.68,NaN,2554.73
6,78,2023-10-02,2023-10-02,VIREMENT,NaN,676.0,2622.41
7,160,2023-09-30,2023-10-01,VIREMENT,-36.00,NaN,1946.41
8,63,2023-09-29,2023-09-29,DON,-1.76,NaN,1982.41
9,64,2023-09-26,2023-09-26,CARTE TOUPTIPRI,-2.93,NaN,2315.73
10,170,2023-09-26,2023-09-26,CARTE TOUPTIPRI,-10.36,NaN,2305.37
11,195,2023-09-26,2023-09-26,RETRAIT,-320.00,NaN,1985.37
12,293,2023-09-26,2023-09-26,CARTE,-1.20,NaN,1984.17
13,278,2023-09-25,2023-09-25,PRELEVEMENT,-593.60,NaN,2318.66
14,128,2023-09-25,2023-09-25,CARTE CHEZ LUC,-8.52,NaN,2912.26
15,87,2023-09-25,2023-09-25,CARTE,-7.12,NaN,2920.78
16,52,2023-09-25,2023-09-25,CARTE,-23.33,NaN,2927.90
17,44,2023-09-25,2023-09-25,CARTE,-9.31,NaN,2951.23
18,37,2023-09-25,2023-09-25,CARTE,-12.00,NaN,2960.54
19,30,2023-09-25,2023-09-25,CARTE,-40.00,NaN,2972.54
20,247,2023-09-22,2023-09-22,CARTE,-4.00,NaN,3018.14
21,285,2023-09-22,2023-09-22,CARTE,-5.60,NaN,3012.54
22,270,2023-09-21,2023-09-21,CARTE,-10.45,NaN,3022.14
23,267,2023-09-20,2023-09-20,CARTE TOUPTIPRI,-2.56,NaN,3032.59
24,142,2023-09-20,2023-09-20,CARTE,-30.37,NaN,3035.15
25,98,2023-09-20,2023-09-20,CARTE,-8.60,NaN,3065.52
26,38,2023-09-20,2023-09-20,CARTE,-2.56,NaN,3074.12
27,94,2023-09-18,2023-09-18,CARTE LA LOUVE,-20.59,NaN,3082.84
28,70,2023-09-18,2023-09-18,CARTE,-1.60,NaN,3103.43
29,132,2023-09-18,2023-09-18,CARTE,-0.96,NaN,3081.88
...,...,...,...,...,...,...,...
70,147,2023-08-24,2023-08-24,CARTE L'EPICERIE DEMBAS,-11.97,NaN,3225.47
71,291,2023-08-22,2023-08-22,CARTE LES ANCIENS ROBINSON,-10.91,NaN,3237.44
72,106,2023-08-22,2023-08-22,CARTE,-0.80,NaN,3248.35
73,53,2023-08-22,2023-08-22,CARTE,-3.78,NaN,3249.15
74,93,2023-08-21,2023-08-21,CARTE,-1.68,NaN,3270.28
75,75,2023-08-21,2023-08-21,CARTE CHEZ LUC,-12.84,NaN,3271.96
76,192,2023-08-21,2023-08-21,CARTE,-10.23,NaN,3260.05
77,200,2023-08-21,2023-08-21,CARTE,-7.12,NaN,3252.93
78,146,2023-08-18,2023-08-18,CARTE,-4.79,NaN,3284.80
79,65,2023-08-18,2023-08-18,CARTE,-2.40,NaN,3289.59
80,210,2023-08-17,2023-08-17,CARTE LES ANCIENS ROBINSON,-28.11,NaN,3291.99
81,206,2023-08-17,2023-08-17,CARTE,-0.80,NaN,3320.10
82,92,2023-08-17,2023-08-17,CARTE,-2.00,NaN,3320.90
83,32,2023-08-17,2023-08-17,CARTE,-2.00,NaN,3322.90
84,152,2023-08-16,2023-08-16,CARTE,-23.20,NaN,3324.90
85,151,2023-08-16,2023-08-16,CARTE,-3.92,NaN,3348.10
86,31,2023-08-16,2023-08-16,CARTE,-53.76,NaN,3352.02
87,259,2023-08-15,2022-08-15,VIREMENT PERMANENT LOYER,-345.00,NaN,3405.78
88,275,2023-08-14,2023-08-14,CARTE,-17.44,NaN,3750.78
89,225,2023-08-14,2023-08-14,CARTE CHEZ LUC,-10.40,NaN,3768.22
90,185,2023-08-14,2023-08-14,CARTE,-4.00,NaN,3778.62
91,154,2023-08-14,2023-08-14,CARTE,-3.20,NaN,3782.62
92,73,2023-08-14,2023-08-14,CARTE,-2.40,NaN,3785.82
93,40,2023-08-14,2023-08-14,CARTE,-11.70,NaN,3788.22
94,290,2023-08-10,2023-08-10,CARTE,-3.28,NaN,3799.92
95,3,2023-08-09,2023-08-09,CARTE,-8.00,NaN,3803.20
96,227,2023-08-08,2023-08-08,CARTE L'EPICERIE DEMBAS,-7.54,NaN,3813.35
97,51,2023-08-08,2023-08-08,CARTE,-0.96,NaN,3820.89
98,255,2023-08-08,2023-08-08,CARTE,-1.19,NaN,3812.16
99,286,2023-08-08,2023-08-08,CARTE,-0.96,NaN,3811.20

In [20]:
CATEGS = {
    'LOYER': 'LOYER',
    'FORFAIT COMPTE SUPERBANK': 'COTISATION BANCAIRE',
    'LES ANCIENS ROBINSON': 'COURSES',
    "L'EPICERIE DENBAS": 'COURSES',
    'TELEPHONE': 'FACTURE TELEPHONE',
    'LA CCNCF': 'TRANSPORT',
    'CHEZ LUC': 'RESTAURANT',
    'RAPT': 'TRANSPORT',
    'TOUPTIPRI': 'COURSES',
    'LA LOUVE': 'COURSES',
    'VELOC': 'TRANSPORT'
}
TYPES = {
    'CARTE': 'CARTE',
    'VIR': 'VIREMENT',
    'VIREMENT': 'VIREMENT',
    'RETRAIT': 'RETRAIT',
    'PRLV': 'PRELEVEMENT',
    'DON': 'DON',
}

In [21]:
EXPENSES = [80,200] # Bornes des catégories de dépense : petite, moyenne et grosse
LAST_BALANCE = 2400 # Solde du compte APRES la dernière opération en date
WEEKEND = ["Saturday","Sunday"] # Jours non travaillés

In [23]:
# Controle des colonnes
for c in ['date_operation','libelle','debit','credit']:
    if c not in data.columns:
        if (c in ['debit','credit'] and 'montant' not in data.columns) or \
        (c not in ['debit','credit']):
            msg = "Il vous manque la colonne '{}'. Attention aux majuscules "
            msg += "et minuscules dans le nom des colonnes!"
            raise Exception(msg.format(c))

# Suppression des colonnes innutiles
for c in data.columns:
    if c not in ['date_operation','libelle','debit','credit','montant']:
        del data[c]

# Ajout de la colonne 'montant' si besoin
if 'montant' not in data.columns:
    data["debit"] = data["debit"].fillna(0)
    data["credit"] = data["credit"].fillna(0)
    data["montant"] = data["debit"] + data["credit"]
    del data["credit"], data["debit"]

# creation de la variable 'solde_avt_ope'
data = data.sort_values("date_operation")
amount = data["montant"]
balance = amount.cumsum()
balance = list(balance.values)
last_val = balance[-1]
balance = [0] + balance[:-1]
balance = balance - last_val + LAST_BALANCE
data["solde_avt_ope"] = balance

# Assignation des operations a une categorie et a un type
def detect_words(values, dictionary):
    result = []
    for lib in values:
        operation_type = "AUTRE"
        for word, val in dictionary.items():
            if word in lib:
                operation_type = val
        result.append(operation_type)
    return result
data["categ"] = detect_words(data["libelle"], CATEGS)
data["type"] = detect_words(data["libelle"], TYPES)

# creation des variables 'tranche_depense' et 'sens'
def expense_slice(value):
    value = -value # Les dépenses sont des nombres négatifs
    if value < 0:
        return "(pas une dépense)"
    elif value < EXPENSES[0]:
        return "petite"
    elif value < EXPENSES[1]:
        return "moyenne"
    else:
        return "grosse"
data["tranche_depense"] = data["montant"].map(expense_slice)
data["sens"] = ["credit" if m > 0 else "debit" for m in data["montant"]]

# Creation des autres variables
data["annee"] = data["date_operation"].map(lambda d: d.year)
data["mois"] = data["date_operation"].map(lambda d: d.month)
data["jour"] = data["date_operation"].map(lambda d: d.day)
data["jour_sem"] = data["date_operation"].map(lambda d: d.day_name)
data["jour_sem_num"] = data["date_operation"].map(lambda d: d.weekday()+1)
data["weekend"] = data["jour_sem"].isin(WEEKEND)
data["quart_mois"] = [int((jour-1)*4/31)+1 for jour in data["jour"]]
        
# Enregistrement au format CSV
data.to_csv("operations_enrichies.csv",index=False)

/home/cuong-nguyen/anaconda2/lib/python2.7/site-packages/pandas/core/computation/check.py:19: UserWarning: The installed version of numexpr 2.4.6 is not supported in pandas and will be not be used
The minimum supported version is 2.6.1

  ver=ver, min_ver=_MIN_NUMEXPR_VERSION), UserWarning)

In [24]:
data.head()

,date_operation,libelle,montant,solde_avt_ope,categ,type,tranche_depense,sens,annee,mois,jour,jour_sem,jour_sem_num,weekend,quart_mois
307,2023-03-31,DON,-1.44,1515.25,AUTRE,DON,petite,debit,2023,3,31,<bound method Timestamp.day_name of Timestamp(...,5,False,4
302,2023-04-03,CARTE RAPT,-24.00,1513.81,TRANSPORT,CARTE,petite,debit,2023,4,3,<bound method Timestamp.day_name of Timestamp(...,1,False,1
303,2023-04-03,CARTE RAPT,-73.00,1489.81,TRANSPORT,CARTE,petite,debit,2023,4,3,<bound method Timestamp.day_name of Timestamp(...,1,False,1
306,2023-04-03,CARTE,-14.39,1416.81,AUTRE,CARTE,petite,debit,2023,4,3,<bound method Timestamp.day_name of Timestamp(...,1,False,1
305,2023-04-03,VIREMENT,4.80,1402.42,AUTRE,VIREMENT,(pas une dépense),credit,2023,4,3,<bound method Timestamp.day_name of Timestamp(...,1,False,1